:root {
    --header-color: #212121;;
    --main-title-color: #ffffff;
    --second-title-color: #757575;
}

body {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
/*----------header----------*/
.header{

}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000; /* and color: #2196F3;*/
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-nav {

}

.header-list {

}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--header-color); 
}

.header-link:hover, 
.header-link:focus {
    color: #2196F3;
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;  
    color: var(--second-title-color); 
}
.header-mail:hover,
.header-mail:focus {
    color: #2196F3;
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.header-tel:hover,
.header-tellipse {
    color: #2196F3;
}

/*----------main----------*/
.main {
    background-color: #2F303A;
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
}

.main-btn {
    font-style: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    background-color:#2196F3
}

/*----------pproperties----------*/

.pproperties {

}

.properties-list {

}
.properties-item {

}

.properties-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
}

.properties-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

/*----------work----------*/

.work {

}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
}

.work-item {

}

/*----------team----------*/
.team {

}

.taem-first-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
}

.team-second-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

/*----------footer----------*/

.footer {
    background-color: #2F303A;
}

.footer-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF; /* and color: #2196F3;*/

}

.contacts {

}

.contacts-list{

}

.contacts-item {
   
}

.contacts-item-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}

.contacts-mail-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6); 
}
.contacts-tel-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6); 
}

  .contacts-item-link:hover,
  .contacts-item-link:focus {
    color: #2196F3;
}

  .contacts-mail-link:hover,
  .contacts-mail-link:focus {
    color: #2196F3;
}

  .contacts-tel-link:hover,
  .contacts-tel-link:focus {
      color: #2196F3;
  }


  /*----------PORTFOLIO----------*/

    .portfolio-filter-btn {
        font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: #212121;
        cursor: pointer;
    }
    .portfolio-filter-btn:hover,
    .portfolio-filter-btn:focus {
        background-color: #2196F3;
        color: #FFFFFF;
    }


  .projects-list {

  }

  .project-item {

  }
  .project-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: #212121;
  }
  .projects-tex {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88px;
    letter-spacing: 0.03em;
    color: #757575;

  }


